<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2afc6810-f19d-4920-90f3-91c82b682a61/resourceGroups/WebApi20240427214948ResourceGroup/providers/Microsoft.Web/sites/WebApi20240427214948</ResourceId>
    <ResourceGroup>WebApi20240427214948ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2afc6810-f19d-4920-90f3-91c82b682a61/resourceGroups/WebApi20240427214948ResourceGroup/providers/Microsoft.ApiManagement/service/WebApiDeploy/apis/WebApiDeploy</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20240427214948.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e8989a00-318f-4ad5-b073-329a6a3695d9</ProjectGuid>
    <MSDeployServiceURL>webapi20240427214948.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApi20240427214948</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebApi20240427214948</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>